**Import the relevant python libraries for the analysis**

In [6]:
import numpy as np
import pandas as pd

**Load the dataset from titanic.csv**

In [7]:
df = pd.read_csv("titanic (1).csv")

**Display the first 6 rows of the dataset**

In [8]:
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

**Display How many rows and columns in the dataset**

In [9]:
df.shape

(891, 12)

**What is the datatype of Pclass?**

In [11]:
df["Pclass"].dtype

dtype('int64')

**How many unique values in Embarked column?**

In [12]:
df["Embarked"].nunique()

3

**Check if there is any missing value in the dataset**   
**Also, handle them with the most suitable option to each column or row**

In [13]:
df.isnull().sum()

PassengerId      0
Survived         1
Pclass           0
Name             0
Sex              1
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          687
Embarked         3
dtype: int64

In [15]:
df["Age"].fillna(df["Age"].median(), inplace=True)

C:\Users\Eyad-Laptop\AppData\Local\Temp\ipykernel_18596\2097741607.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)

In [16]:
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

C:\Users\Eyad-Laptop\AppData\Local\Temp\ipykernel_18596\122844256.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

**Handle any wrong datatype or data values**

In [18]:
df["Fare"].fillna(df["Fare"].median(), inplace=True)

C:\Users\Eyad-Laptop\AppData\Local\Temp\ipykernel_18596\30414416.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Fare"].fillna(df["Fare"].median(), inplace=True)

**What is the relation between Pclass and Age?**

In [ ]:
df.groupby("Pclass")["Age"].mean()

C:\Users\Eyad-Laptop\AppData\Local\Temp\ipykernel_18596\1148945845.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Pclass")["Age"].mean()  # Mean age for each passenger class

Pclass
1    36.812130
2    29.765380
3    25.932627
Name: Age, dtype: float64

**Is there any relation between Age and if someone will be Survived or not??**

In [ ]:
df.groupby("Survived")["Age"].mean()

Survived
0.0    30.026460
1.0    28.291433
Name: Age, dtype: float64